a {
  text-decoration: none;
}
.menu-item-active {
  background-color: #ffdccf60;
  border-radius: 10rem;
}

.q-item:hover {
  border-radius: 10rem;
}

input,
select {
  padding-left: 10px;
  border-color: blue;
  border-radius: 10px;
}
